node_modules
dist
compiled
build-storybook-static

bundle-analysis.html

.rpt2_cache

npm-debug.log*

.DS_Store
.env
*.log
.vscode
.idea
test-unit-report
/test-e2e-results/
/test-e2e-report/
/blob-report/
/playwright/.cache/
