node_modules
test-unit-report
dist
build-storybook-static
compiled

bundle-analysis.html

.rpt2_cache

npm-debug.log*

.DS_Store
.env
*.log
.vscode
.idea
/test-e2e-results/
/test-e2e-report/
/blob-report/
/playwright/.cache/
