@import '../ReactParallaxTilt.css';

.default-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  font-size: 40px;
  font-style: italic;
  color: white;
  border: 5px solid black;
  border-radius: 20px;
}
