@import '../ReactParallaxTilt.css';

.event-params {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  .tilt-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    font-size: 28px;
    font-style: italic;
    background-color: darkgreen;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;

    .param {
      margin-top: 12px;
      border-top: 2px solid white;
      min-width: 220px;

      .header {
        font-size: 35px;
      }
    }

    .test-params {
      display: none;
    }

    .test-ref {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: transparent;
    }
    .top-left {
      top: -10px;
      left: -10px;
    }
    .top-mid-left {
      top: 80px;
      left: 80px;
    }
    .top-right {
      top: -10px;
      right: -10px;
    }
    .bottom-right {
      bottom: -10px;
      right: -10px;
    }
    .bottom-left {
      bottom: -11px;
      left: -11px;
    }
  }

  .event-type {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
