@import '../ReactParallaxTilt.css';

.event-params {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .react-parallax-tilt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    font-size: 28px;
    font-style: italic;
    background-color: darkgreen;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;

    .param {
      margin-top: 12px;
      border-top: 2px solid white;
      min-width: 220px;

      .header {
        font-size: 35px;
      }
    }
  }

  .event-type {
    margin-top: 20px;
    font-size: 20px;

    div {
      margin-top: 10px;
    }
  }
}
