#root {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-family: Arial, sans-serif;
}

$default-stripe-bg-color: #077407;
$default-stripe-color: #015f01;

@mixin background {
  background: repeating-linear-gradient(
    45deg,
    $default-stripe-color,
    $default-stripe-color 35px,
    $default-stripe-bg-color 35px,
    $default-stripe-bg-color 70px
  );
}
