#root {
  font-family: Arial, sans-serif;
  .react-tabs {
    .react-doc-tab-demo.react-tabs__tab-panel--selected {
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

$default-stripe-bg-color: #077407;
$default-stripe-color: #015f01;

@mixin background {
  background: repeating-linear-gradient(
    45deg,
    $default-stripe-color,
    $default-stripe-color 35px,
    $default-stripe-bg-color 35px,
    $default-stripe-bg-color 70px
  );
}
